.root {
    -fx-background-color: rgb(23, 23, 23);
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: rgb(77, 77, 77);
}

.label {
    -fx-text-fill: rgb(219, 219, 219);
}

.button {
    -fx-background-color: rgb(23, 23, 23);
    -fx-text-fill: white;
    -fx-border-color: rgb(77, 77, 77);
}

.button:hover {
    -fx-background-color: rgb(51, 51, 51);
    -fx-border-color: rgb(102, 102, 102);
}

#dot, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero {
    -fx-background-color: rgb(38, 38, 38);
}

#dot:hover, #one:hover, #two:hover, #three:hover, #four:hover, #five:hover, #six:hover, #seven:hover, #eight:hover, #nine:hover, #zero:hover {
    -fx-background-color: rgb(51, 51, 51);
}

.radio-button {
    -fx-text-fill: white;
}

#equals {
    -fx-background-color: rgb(209, 143, 19);
}
    