.root {
    -fx-background-color: rgb(23, 23, 23);
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: rgb(77, 77, 77);
}

.label {
    -fx-text-fill: rgb(219, 219, 219);
}

.button {
    -fx-background-color: rgb(23, 23, 23);
    -fx-text-fill: white;
    -fx-border-color: rgb(77, 77, 77);
    -fx-border-radius: 10px;
}

.button:hover {
    -fx-background-color: rgb(51, 51, 51);
    -fx-border-color: rgb(102, 102, 102);
}

#dot:hover, #one:hover, #two:hover, #three:hover, #four:hover, #five:hover, #six:hover, #seven:hover, #eight:hover, #nine:hover, #zero:hover {
    -fx-background-color: rgb(51, 51, 51);
    -fx-background-radius: 10;
}

.radio-button {
    -fx-text-fill: white;
}

#equals {
    -fx-background-color: rgb(255, 153, 0);
    -fx-background-radius: 10;
}

#equals:hover {
	-fx-background-color: rgb(204, 122, 0);
}
#sin, #sinh, #ten_to_x, #e_to_x, #root_of_x{
	-fx-background-color: rgb(31, 46, 46);
    -fx-background-radius: 10;
}

#clear, #clearAll{
	-fx-background-color: rgb(20, 20, 31);
    -fx-background-radius: 10;
}

#sin:hover, #sinh:hover, #ten_to_x:hover, #e_to_x:hover, #root_of_x:hover, #clear:hover, #clearAll:hover{
	-fx-effect: dropshadow(three-pass-box, rgb(255, 255, 255), 10, 0, 0, 0);
}
    